name: Link Checker

on:
  schedule:
    - cron: '0 0 * * 0'
  pull_request:

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lycheeverse/lychee-action@v1
        with:
          fail: true
